In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('python/football.csv')
df.head()

                Team  Games  Wins  Losses  Draws  Goals  Goals Allowed  Points
0            Arsenal     38    26       9      3     79             36      87
1          Liverpool     38    24       8      6     67             30      80
2  Manchester United     38    24       5      9     87             45      77
3          Newcastle     38    21       8      9     74             52      71
4              Leeds     38    18      12      8     53             37      66

In [21]:
df['Goal_Spread'] = (df['Goals'].sub(df['Goals Allowed'])).abs()
df['Goal_Spread']

0     43
1     37
2     42
3     22
4     16
5     28
6      9
7      1
8      4
9      4
10     8
11    12
12     8
13    11
14    12
15    18
16    22
17    23
18    30
19    34
Name: Goal_Spread, dtype: int64

In [11]:
lowest_spread = df['Goal_Spread'].argmin()
print lowest_spread

7

In [32]:
print df.loc[7]['Team'] 
print df.loc[7]['Goal_Spread']

Aston_Villa
1